
@media (min-width: 769px) {
  .nav_top {
    min-width: 1181px;
  }
}

.model {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

header {
  margin-bottom: 0;
  background: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 12;
  transition: height 0.3s;
}

header.fix {
  background: #ffffff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 900;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

header .header {
  background: #ffffff;
  position: relative;
  z-index: 1000;
}

header .header .nov_top {
  width: 100%;
  height: 40px;
  background: #f2f1f1;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

header .header .nov_top .container {
  width: 1181px;
  padding: 0;
}

header .header .nov_top .container .nov_top_left {
  height: 40px;
  color: #333;
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-size: 0;
}

header .header .nov_top .container .nov_top_left li {
  height: 100%;
  line-height: 38px;
  display: inline-block;
  font-size: 14px;
}

header .header .nov_top .container .nov_top_left li a {
  text-decoration: none;
  color: #333;
  padding: 1px 16px;
}

header .header .nov_top .container .nov_top_left li.active {
  background: #fff;
}

header .header .nov_top .container .nov_top_left li.active a {
  font-weight: bold;
}

header .header .nov_top .container .nov_top_left li:hover {
  background: #fff;
}

header .header .nov_top .container .nov_top_right {
  height: 40px;
  line-height: 40px;
  float: right;
}

header .header .nov_top .container .nov_top_right .site_search {
  height: 40px;
  padding-left: 20px;
  padding-right: 30px;
  display: inline-block;
}

header .header .nov_top .container .nov_top_right .site_search span {
  padding-right: 6px;
  font-size: 14px;
  line-height: 38px;
  font-weight: 700;
}

header .header .nov_top .container .nov_top_right .site_search p {
  display: inline-block;
  line-height: 38px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

header .header .nov_top .container .nov_top_right .site_search p:hover {
  color: #1a66a0;
}

header .header .nov_top .container .nov_top_right .menu_account {
  display: inline-block;
}

header .header .nov_top .container .nov_top_right .menu_account ul {
  font-weight: bold;
  justify-content: space-between;
  display: inline-block;
  font-size: 0;
  height: 40px;
}

header .header .nov_top .container .nov_top_right .menu_account ul li {
  height: 40px;
  font-size: 12px;
  display: inline-block;
  padding: 0 10px;
}

header .header .nov_top .container .nov_top_right .menu_account ul li a {
  text-decoration: none;
  color: #333;
}

header .header .nov_top .container .nov_top_right .menu_account ul li a:hover {
  color: #1a66a0;
}

header .header .nov_top .container .nov_top_right .menu_account ul li:nth-child(2) {
  width: 90px;
  text-align: center;
  background: #043458;
}

header .header .nov_top .container .nov_top_right .menu_account ul li:nth-child(2) a {
  color: #fff;
}

header .header .nov_top .container .nov_top_right .menu_account ul li:nth-child(3) a {
  border-right: 1px solid #333;
  padding-right: 15px;
}

header .header .nov_top .container .nov_top_right .menu_account ul li .language_code {
  color: #1a66a0;
}

@media (max-width: 767px) {
  .branding-mobile {
    background: #ffffff;
    border-bottom: solid 1px #d3d3d3;
    padding: 0;
  }
  .branding-mobile .row {
    margin: 0;
    padding: 0;
  }
  .branding-mobile .row .js-mobile-logo {
    float: left;
    padding: 0 0 0 13px;
  }
  .branding-mobile .row .js-mobile-logo img {
    width: 60px;
    margin-top: 7px;
    margin-bottom: 5px;
    vertical-allign: middle;
  }
  .branding-mobile .row .mobile_top_menu {
    display: inline-block;
    float: right;
  }
  .branding-mobile .row .mobile_top_menu .ul {
    display: inline-block;
  }
  .branding-mobile .row .mobile_top_menu .ul li {
    display: inline-block;
    padding: 17px 5px;
    font-size: 14px;
    cursor: pointer;
  }
  .branding-mobile .row .mobile_top_menu .ul li a {
    text-decoration: none;
    color: red;
    font-weight: bold;
  }
  .branding-mobile .row .mobile_top_menu .mobile_menu_trigger {
    float: right;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    background: #043458;
    font-weight: bold;
    padding: 18px 14px;
    text-decoration: none;
  }
  .branding-mobile .row .mobile_menu_wrapper {
    position: absolute;
    width: 100%;
    transition: .5s;
    color: #fff;
    display: none;
    background: #f1f1f1;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu_top {
    position: relative;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu_top .close {
    position: absolute;
    right: 11px;
    top: 15px;
    background-image: url("https://wse.com.cn/_ui/responsive/theme-alpha/images/sprites-small/close-menu-mobile.png");
    background-size: 100% auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border: 0;
    text-shadow: none;
    color: #000;
    outline: none;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu_top .content_ul .ul {
    padding: 0;
    overflow: hidden;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu_top .content_ul .ul li {
    display: inline-block;
    padding: 11px 14px;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu_top .content_ul .ul li a {
    color: #043458;
    padding: 7px 5px 6px 0;
    display: block;
    text-decoration: none;
    font-size: 12px;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu_top .content_ul .ul li.active {
    background: #043458;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu_top .content_ul .ul li.active a {
    color: #ffffff;
    font-weight: bold;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu {
    text-align: left;
    padding-top: 13px;
    text-transform: none;
    background: #043458;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu .nav_links li {
    padding: 15px 25px;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu .nav_links li:first-child {
    padding-top: 10px;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu .nav_links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu .nav_links li:nth-child(2) {
    width: 100%;
    position: relative;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu .nav_links li:nth-child(2) .second_menu {
    display: none;
    width: 100%;
    background: #0082a9;
    margin-top: 13px;
    position: absolute;
    left: 0;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu .nav_links li:nth-child(2) .second_menu li {
    padding: 15px 25px;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu .nav_links li:nth-child(2) .plus {
    position: absolute;
    right: 40px;
    top: 16px;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu .nav_links li:nth-child(2) .plus .awrrow {
    content: '';
    border-style: solid;
    _border-style: dashed;
    border-width: 6px;
    border-color: transparent;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: relative;
    right: 12px;
    display: inline-block;
    transition: .5s;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu .nav_links li:nth-child(2) .plus .awrrow.right {
    border-bottom-width: 0;
    margin-top: 5px;
    border-right: 8px solid #fff;
    border-top: 0;
    border-width: 8px;
    transform: rotate(45deg);
    transform-top: 4px;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu .item_last {
    margin-left: 25px;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu .item_last li {
    padding: 15px 0;
  }
  .branding-mobile .row .mobile_menu_wrapper .mobile_menu .item_last li a {
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
    font-size: 14px;
  }
}

.container {
  width: 1181px;
  padding: 0;
}

.container .navigation-top {
  padding-left: 20px;
}

.container .navigation-top .logo {
  float: left;
  padding-top: 9px;
}

.container .navigation-top .logo img {
  width: 71px;
  height: 51px;
}

.container .navigation-top .navigation-bottom {
  position: relative;
  left: 0;
  width: auto;
  border-bottom: 0;
  background: transparent;
}

.container .navigation-top .navigation-bottom .nav_links {
  display: flex;
}

.container .navigation-top .navigation-bottom .nav_links li {
  padding: 23px 0;
}

.container .navigation-top .navigation-bottom .nav_links li > a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  border-right: 1px solid black;
  padding: 0 20px;
}

.container .navigation-top .navigation-bottom .nav_links li:nth-child(1) {
  position: relative;
}

.container .navigation-top .navigation-bottom .nav_links li:nth-child(1) .plus {
  position: absolute;
  right: 40px;
  top: 16px;
}

.container .navigation-top .navigation-bottom .nav_links li:nth-child(1) .plus .awrrow {
  content: '';
  border-style: solid;
  _border-style: dashed;
  border-width: 6px;
  border-color: transparent;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  position: relative;
  left: 40px;
  display: inline-block;
}

.container .navigation-top .navigation-bottom .nav_links li:nth-child(1) .plus .awrrow.right {
  border-bottom-width: 0;
  margin-top: 5px;
  border-right: 8px solid #000;
  border-top: 0;
  border-width: 8px;
  transform: rotate(135deg);
  top: 3px;
}

.container .navigation-top .navigation-bottom .nav_links li:nth-child(1) .second_menu3 {
  width: 100%;
  position: absolute;
  background: #fff;
  box-shadow: 3px 5px 8px rgba(195, 195, 195, 0.85);
  top: 60px;
  display: none;
}

.container .navigation-top .navigation-bottom .nav_links li:nth-child(1) .second_menu3 li a {
  border: 0;
  font-weight: normal;
}

.container .navigation-top .navigation-bottom .nav_links li:nth-child(1) .second_menu3 li:hover {
  background: #0082A9;
}

.container .navigation-top .navigation-bottom .nav_links li:nth-child(1) .second_menu3 li:hover a {
  font-weight: bold;
  color: #fff;
}

.container .navigation-top .navigation-bottom .nav_links li:nth-child(5) {
  position: relative;
}

.container .navigation-top .navigation-bottom .nav_links li:nth-child(5) .second_menu2 {
  width: 100%;
  position: absolute;
  background: #fff;
  box-shadow: 3px 5px 8px rgba(195, 195, 195, 0.85);
  top: 60px;
  display: none;
}

.container .navigation-top .navigation-bottom .nav_links li:nth-child(5) .second_menu2 li {
  padding: 15px 0;
}

.container .navigation-top .navigation-bottom .nav_links li:nth-child(5) .second_menu2 li a {
  border: 0;
  font-weight: normal;
}

.container .navigation-top .navigation-bottom .nav_links li:nth-child(5) .second_menu2 li:hover {
  background: #0082A9;
}

.container .navigation-top .navigation-bottom .nav_links li:nth-child(5) .second_menu2 li:hover a {
  font-weight: bold;
  color: #fff;
}

.container .navigation-top .navigation-bottom .nav_links li:nth-child(5) .awrrow {
  content: '';
  border-style: solid;
  _border-style: dashed;
  border-width: 6px;
  border-color: transparent;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  position: relative;
  right: 20px;
  display: inline-block;
}

.container .navigation-top .navigation-bottom .nav_links li:nth-child(5) .awrrow.left {
  border-bottom-width: 0;
  margin-top: 5px;
  border-right: 8px solid #000;
  border-top: 0;
  border-width: 8px;
  transform: rotate(135deg);
  top: -6px;
}
