.vip_conent_box{
    margin: 110px 80px;
    /*background: red;*/
}
.vip_conent_title{
    margin-top: 60px;
    font-size: 60px;
    color:#043458;
    font-weight: bold;
   
}
.vip_top_box p{
    font-size: 16px;
}
.vip_login_box{
    margin-top: 27px;
    background: #d7dfe5;
    padding: 60px 80px;
    width: 50%;
    position: relative;
    height: 400px;
}
.tap_btn_box{
    display: flex;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    text-align: center;
}
.tap_btn_box .tap_btn{
    background: #fff;
    line-height: 35px;
    font-size: 16px;
    font-weight: 900;
}
.tap_box .yan{
    width: 220px;
    margin-top: 8px;
    margin-bottom: 6px;
    margin-left: 224px;
    font-size: 18px;
    color: #fff;
    background: #043458;
    border: none;
    min-height: 33px;
    letter-spacing: -1px;
    clear: both;
    text-align: center;
}
.tap_btn_box .tap_btn.active{
    background: #043458;
    color: #FFF;
}
.tap_btn_box div{
    width: 50%;
}
/* 表单 */

.from_box div{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}
.from_box .from_box_name{
    font-size: 16px;
    font-weight: bold;
    color: #043458;
}
.tap_two{
    display: none;
}
.from_box .ipt_box{
    width: 220px;
    background: #fff;
    font-size: 16px;
    line-height: 28px;
}
.from_box .ipt_box input{
    border: none;
}
.from_box .ipt_box input{
    border: none;
}
.tap_box .btn{
    width: 136px;
    height: 136px;
    font-size: 14px;
    padding: 0 5px;
    vertical-align: middle;
    background: #ee2d42;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0px 18px 25px 10px rgba(238, 45, 66, 0.48);
}
.tap_box .btn{
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform:translateX(-50%);
    z-index: 1;
}
.vip_login_box>img{
    position: absolute;
    bottom: -23px;
    left: 0;
}
.tap_box .btn div{
    width: 50px;
    margin:20px auto;
}
.tap_box .btn div img{
    margin: 0 auto;
}
.vip_login_name{
    display: flex;
}
.vip_rigth_box{
    margin: 27px ; 
    padding-left: 78px;
}
.vip_rigth_box ul li{
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    color:#043458;
    font-weight: bold;
}
.vip_rigth_box ul li img{
    margin-right: 10px;
}
.vip_rigth_box ul li button{
    border:0;
    background: #043458;
    color:#fff;
    line-height: 35px;
    width: 150px;
}