.nav_wrapper {
  position: relative;
  z-index: 999;
}
.pro-content {
  width: 100%;
  overflow: hidden;
  margin-top: 150px;
}
.tab-box {
  width: 1181px;
  height: 578px;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: space-between;
}
/* .tab-box .tab-img {
  width: 474px;
  height: 474px;
  border-radius: 50%;
  position: relative;
  z-index: 99;
  margin: 50px 0;
} */
.tab-box .tab-r {
  margin-left: 500px;
}
.tab-box .tab-r .tab h3 {
  font-size: 60px;
  line-height: 70px;
  font-weight: bold;
  color: #043458;
  margin-top: 1px;
  margin-bottom: 30px;
}

.tab-box .tab-r .tab h3 sup {
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.tab-bar {
  width: 683px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}
.tab-bar li a {
  display: block;
  margin: 0;
  color: #043458;
  font-size: 20px;
  text-align: center;
  border: none;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  line-height: 40px;
}
.tab-bar li {
  position: relative;
}
.tab-bar li.active::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -6px;
  margin-left: -8px;
  border-bottom: 10px solid #ee2d42;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.tab-bar li:nth-child(1) a {
  color: #ee2d42;
}
.tab-content {
  position: relative;
}
.tab-content .img-con {
  position: absolute;
  top: -80px;
  left: -500px;
}
.tab-content > li::before {
  content: "";
  position: absolute;
  width: 2500px;
  height: 2000px;
  border: 3px solid #777;
  border-radius: 50%;
  top: -1600px;
  left: -1000px;
}
.tab-content > li {
  display: none;
  width: 683px;
  position: absolute;
  top: 0;
  left: 0;
}
.tab-content li:nth-child(1) {
  display: block;
}
.tab-content li > h3 {
  position: relative;
  z-index: 20;
  font-weight: bold;
  padding-top: 11px;
  font-size: 30px;
}
.tab-content li > p {
  position: relative;
  z-index: 20;
  font-weight: bold;
  padding-top: 11px;
  font-size: 16px;
}
.tab-content .status {
  padding-left: 40px;
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 29px;
}
.tab-c-msg {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-top: 37px;
}
.tab-c-msg-l {
  flex: 1;
}
.tab-c-msg-l h5 {
  color: #ee2d42;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;
}
.tab-c-msg-l ul {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}
.tab-c-msg-l ul li {
  font-size: 16px;
  font-weight: bold;
}

.tab-c-button {
  position: relative;
  display: flex;
  z-index: 99;
}
.tab-c-msg-r {
  font-size: 16px;
  font-weight: bold;
}
.tab-c-msg-r h5 {
  font-size: 16px;
  font-weight: bold;
  color: #ee2d42;
}
.tab-c-msg-r img {
  margin: 10px 0;
}
.tab-c-msg-l-list li {
  position: relative;
  padding-left: 20px;
}
.tab-c-msg-l-list li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 7px;
  height: 7px;
  background: #333;
  border-radius: 100%;
}

.status {
  padding-left: 40px;
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 29px;
  position: relative;
  margin-top: 20px;
}
.tab-content li .status::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  background-image: url(https://wse.com.cn/_ui/responsive/theme-alpha/img/sprites_img.png);
  background-position: -1650px -583px;
  width: 30px;
  height: 30px;
}
.tab-content li .status.icon-2::before {
  background-position: -1710px -583px;
}
.tab-c-msg-l .df {
  display: block;
}
.tab-c-msg-l .df li {
  float: left;
  width: 30%;
}
/* --------------------------- */

.learning-center {
  width: 1181px;
  margin: 0 auto;
  height: 1200px;
  margin-top: 200px;
  position: relative;
}
.learning-center::before {
  content: "";
  position: absolute;
  top: 100px;
  left: -500px;
  z-index: -1;
  width: 1491px;
  height: 1491px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  border: 3px solid #043458;
}
.learning-center .center-level {
  width: 451px;
  height: 451px;
  background: #ee2d42;
  border-radius: 50%;
  margin-left: 200px;
  color: #fff;
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  top: 0;
  align-content: center;
}
.center-level h3 {
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 3px;
  font-weight: bold;
}
.center-level p {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}
.center-level p a {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #fff;
}
.wrap-center-design {
  position: absolute;
  top: 500px;
  left: 100px;
  z-index: 99;
}

.wrap-center-design h3 {
  font-size: 40px;
  line-height: 50px;
  color: #043458;
  padding-bottom: 15px;
  font-weight: bold;
}
.wrap-center-design p {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  width: 400px;
  padding-left: 50px;
}
.wrap-center-design p a {
  font-weight: bold;
  color: #ee2d42;
  border-bottom: 1px solid #ee2d42;
}
.button-r {
  position: absolute;
  top: 800px;
  left: 500px;
}
.learning-center-banner {
  position: absolute;
  top: 400px;
  left: 800px;
  width: 570px;
  height: 570px;
}
.banner-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 136px;
  height: 136px;
  border-radius: 50%;
  box-shadow: 0 18px 25px 10px rgba(4, 52, 88, 0.58);
}

.banner-button .b-b-l {
  width: 50%;
  height: 100%;
  border-radius: 68px 0px 0px 68px/68px 0px 0px 68px;
  display: block;
  float: left;
  position: relative;
  font-size: 0;
  background: #043458;
}
.banner-button .b-b-r {
  width: 50%;
  height: 100%;
  display: block;
  border-radius: 0px 68px 68px 0px/0px 68px 68px 0px;

  float: left;
  position: relative;
  font-size: 0;
  background: #043458;
}
@media (max-width: 767px) {
  .pro-content {
    margin-top: 0;
  }
  .tab-box {
    width: 320px;
    margin: 0 auto;
  }
  .tab-box .tab-r {
    width: 320px;
    margin: 0 auto;
  }
  .tab-box .tab-r .tab h3 {
    font-size: 30px;
    line-height: 35px;
    padding-right: 112px;
    margin-top: 23px;
    min-height: 160px;
  }
  .tab-bar li a {
    font-size: 12px;
    line-height: 20px;
  }
  .tab-content .img-con {
    position: absolute;
    top: -252px;
    left: 200px;
    width: 124px;
    height: 182px;
    overflow: hidden;
  }
  .tab-content .img-con img {
    position: absolute;
    top: -20px;
    width: 200px;
  }
  .tab-bar {
    width: 320px;
  }
  .tab-content li > h3 {
    font-size: 20px;
  }
  .tab-content li > p {
    font-size: 12px;
  }
  .tab-c-msg {
    display: block;
  }
  .tab-c-msg-l h5 {
    font-size: 12px;
  }
  .tab-c-msg-l ul li {
    font-size: 12px;
  }
  .tab-c-msg-r h5 {
    font-size: 12px;
  }
  .tab-c-msg-r {
    font-size: 12px;
  }
  .tab-c-button {
    margin-top: -60px;
  }
  .tab-c-msg-l .df {
    display: flex;
  }
  .learning-center {
    width: 320px;
  }
  .learning-center .center-level {
    width: 265px;
    height: 265px;
    margin-left: 0;

    position: static;
    margin: 0 auto;
  }
  .center-level h3 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 3px;
    font-weight: bold;
    padding-left: 10px;
  }
  .center-level p {
    font-size: 12px;
    line-height: 18px;
  }
  .wrap-center-design {
    width: 320px;
    margin: 0 auto;
    position: static;
    top: 0px;
    padding-top: 50px;

    z-index: 99;
  }
  .wrap-center-design h3 {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 0;
    margin-bottom: 3px;
  }
  .wrap-center-design p {
    width: 320px;
    font-size: 12px;
    line-height: 18px;
    padding-left: 0;
  }
  .button-r {
    position: absolute;
    top: 700px;
    left: 0;
  }
  .learning-center-banner {
    position: absolute;
    top: 286px;
    left: -113px;
    transform: scale(0.5);
  }
}
