/* roundButton */
.round-button {
  width: 136px;
  height: 136px;
  margin: 0 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  color: #fff;
}
@media (max-width: 767px) {
  .round-button {
    transform: scale(0.7);
  }
}
.round-button i {
  margin: 10px 0;
}
.round-button:hover {
  opacity: 0.8;
}
.round-button p {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.round-button.b {
  background: #043458;
  box-shadow: 0px 18px 25px 10px rgba(4, 52, 88, 0.58);
}
.round-button.r {
  background: #ee2d42;
  box-shadow: 0px 18px 25px 10px rgba(238, 45, 66, 0.48);
}

/* roundButton end */
